.card {
  background: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  max-width: 500px;
  margin: 0 auto;
}

.card:hover {
  transform: scale(1.07);
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
}

.content {
  padding: 16px;
  position: relative; /* viktigt */
}

.name {
  margin: 0 0 8px;
  font-size: 1.25rem;
}

.meta {
  margin: 4px 0;
  color: #555;
}

.heart {
  position: absolute;
  bottom: 12px;
  right: 12px;

  background: none;
  border: none;

  font-size: 1.8rem; /* gör den större från början */
  cursor: pointer;

  color: transparent;
  -webkit-text-stroke: 2px red; /* outline */

  transition: transform 0.2s ease, color 0.2s ease;
}

.active {
  color: red;
  -webkit-text-stroke: 0;
}